[Desktop Entry]
Type=Application
Name=Beeper
GenericName=Unified Messenger
Comment=The ultimate messaging app
Exec=beeper --no-sandbox %U
Icon=beepertexts
Terminal=false
StartupWMClass=BeeperTexts
X-AppImage-Version=4.2.455
MimeType=x-scheme-handler/beeper;x-scheme-handler/matrix;x-scheme-handler/element;
Categories=Network;InstantMessaging;
